@import 'variables';

.btn-transparent{
    background-color: $element-backg-color;
    border-color: $element-border-focus;
}

.btn-transparent:focus, .btn-transparent:active, .btn-transparent:hover{
    background-color: #0000004a;
    border-color: $element-border-focus;
}

.absolute-center{
    justify-content: center;
    align-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .pt-xs-5{
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

