
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font awesome
@import '~font-awesome/scss/font-awesome';

@import 'helpers';

body{
    width: 100%;
    height: 100%;
    background-image: url(http://perumar.com.pe/intranet/images/background-index.jpg?6d82f8ea3bee4f38417a8b300034878b);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-laravel {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fa-custom{
    font-size: 1.6em;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

