
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'helpers';

/**{
    color: #e0e0e0;
}

.navbar-laravel {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: $font-color-header;
}

.card{
    background-color: #262626;
}
.card-header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.41) !important;
}
.form-control{
    background-color: #fff0;
    color: white
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: $element-border-focus;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(63, 128, 181, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(63, 128, 181, 0.25);
}*/

