ul {
    list-style: none;
}
a{
    cursor: pointer;
}
.table {
    font-size: 10px !important;
    text-transform: uppercase !important;
}
.active{
	display: block !important;
}
.left_colum{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #262626;
    border-right: 0.5px solid #0000008f;
    box-shadow: rgba(0, 0, 0, 0.58) 3px 0px 17px 2px;
}

.right_column{
    position: absolute;
    right: 0;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: transparent;
}
.brand{
    width: 100%;
    height: 50px;
    position: relative;
}

#brand--logo{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: .3em;
    margin-top: 25px;
    &:after{
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: #ffffff6e;
        bottom: -7px;
        right: 0;
        left: 0;
        margin: auto;
    }
}
.brand--logo--hide{
    &:after{
        position: absolute;
        width: 30px !important;
        height: 1px;
        background-color: #ffffff6e;
        bottom: -7px;
        right: 11px;
        margin: auto;
    }
}

.menu_list{
    padding-top: 2em;
    &--item{
        color: white;
        margin-bottom: 25px;
        & a{
            text-decoration: none;
            color: white;
            letter-spacing: .1em;
            padding-left: 15px;
            transition: .2s;
            &:hover{
                color: darkgray;
                padding-left: 20px;
            }
        }
        & i{
            position: relative;
            cursor: pointer;
            &:hover{
                color: darkgray;
                font-size: 1.8em;
            }
        }
    }
}
.submenu_list {
	position: relative;
	margin-top: 10px;
	transition: all 3s;
	display: none;
	&--item{
		height: 30px;
		position: relative;
		display: flex;
		align-items: center;
		&:after{
			border-left: 1px solid #425668;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			top: 0;
		}
		&:before{
			background: #5d6b77;
			bottom: auto;
			content: "";
			height: 8px;
			left: -3.5px;
			margin-top: 3px;
			position: absolute;
			right: auto;
			width: 8px;
			z-index: 1;
			border-radius: 50%;
		}

	}
}
.options_list{
    position: absolute;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    bottom: 0;
    align-items: center;
}
.options_list--item{
    position: relative;
    color: white;
    & .fa{
        cursor: pointer;
        &:hover{
            color: darkgray;
            font-size: 2em
        }
    }

}
