// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

//variables
$color-text: white;

html, body {
    background-color: #fff;
    color: $color-text;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
body{
    background-image: url(/images/background-index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 200px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -5px 7px 11px #0c0c0cba;
    animation: appear 6s;
}

.links > a {
    color: $color-text;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.subtittle{
    color: $color-text;
    letter-spacing: .2em;
    position: relative;
    font-weight: bold;
}
.subtittle::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: white;
    bottom: -7px;
    right: 0;
    left: 0;
    margin: auto;

}

@keyframes appear {
    from {
        text-shadow: 24px 5px 10px #0c0c0cba;
    }
    to {
        text-shadow: -5px 7px 11px #0c0c0cba;
    }
}
